mixin sFirstMoney(data)
	// start sFirstMoney
	+b.SECTION.sFirstMoney.section#sFirstMoney&attributes(attributes)
		.container
			+b.section-title
				h2 Что Вас ждет внутри пошагового онлайн-курса
					span &laquo;Быстрый старт в&nbsp;трейдинге циклами?&raquo;
			+e.row.row
				mixin item(title, text)
					+e.item&attributes(attributes)
						+e.title!= title
						p!= text
				.col-md-6.col-xl-4
					+item('Инструкция к заработку', '5&nbsp;видеоуроков&nbsp;&mdash; простые шаги, с&nbsp;нуля до&nbsp;первой прибыли. Вы&nbsp;удивитесь, насколько легко можно зарабатывать деньги')
					+item('Торговая стратегия', 'Комфортные сделки<br>раз в&nbsp;неделю, в&nbsp;заранее установленное время')
					+item('Уникальный способ получения дохода', 'В русскоязычном Интернете Вы не найдете качественного обучения по этому способу заработка. Долгое время информация о циклическом трейдинге была конфиденциальной и использовалась только крупными игроками в терминале Bloomberg')
				.col-md-6.col-xl-3.order-xl-3.ms-xl-auto
					+item('Бесплатно. Без уловок', 'Уроки курса, торговая стратегия и&nbsp;инструкции&nbsp;&mdash; все это&nbsp;Вы получите бесплатно и&nbsp;навсегда, без ограничений и&nbsp;&laquo;пробных периодов&raquo;.')
					+item('Как зарабатывать больше?', 'Вы&nbsp;узнаете, как поэтапно увеличивать размер и&nbsp;стабильность прибыли')
					+item('Персональная поддержка', 'На&nbsp;Ваши вопросы ответит автор курса, а&nbsp;также (при необходимости) Вы&nbsp;получите персональные консультации от&nbsp;специалистов Службы Заботы Инфо-ДВД. В&nbsp;том числе голосом.')
				+e.col.col-xl-4.order-xl-2
					+e.bg-wrap
						img(src='img/sFirstMoney-img-1.png' alt='').img
	// end sFirstMoney