mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			//- img(src="img/header-bg.png", alt="").bg
			.row
				.col-lg-7
					h1 Легкие деньги на&nbsp;циклическом трейдинге
					+e.subtitle Самый простой и понятный способ зарабатывать деньги в трейдинге
					p Зарегистрируйтесь прямо сейчас и получите:
					ul
						li пошаговые уроки,
						li простую торговую стратегию,
						li инструкцию для старта с&nbsp;нуля.
					+e.btn-row.row 
						.col-auto
							+e.btn.btn.btn-primary.btn-base
								| Успейте получить бесплатно!
								span
						.col-auto
							+e.timer-wrap
								+e.timer-box.timer-box.timer-box-js
									span.days 12
									span.hours 20
									span.minutes 20 
									span.seconds 20
					+e.text Успейте до&nbsp;истечения таймера и&nbsp;получите ПОДАРОК&nbsp;&mdash; билет на&nbsp;ближайший прямой эфир с&nbsp;Владимиром Чаминым
				.col-lg-5
					+e.img
						+img('img/headerBlock-bg-1-sm.png')
						+e.person-text
							+iconC('info')
							p Владимир Чамин
							span Автор онлайн-курса
					+e.person
						img(src="img/headerBlock-bg-1.png", alt="")
						+e.person-text
							+iconC('info')
							p Владимир Чамин
							span Автор онлайн-курса
	// end headerBlock