mixin sPoints(data)
	// start sPoints
	+b.SECTION.sPoints.section#sPoints&attributes(attributes)
		+e.container.container
			img(src='img/sPoints-bg-1.png' alt='').img-1
			img(src='img/sPoints-bg-2.png' alt='').img-2
			+b.section-title
				h2 Вот, почему циклический трейдинг заслуживает Вашего внимания:
			+e.row.row
				mixin item(title, text)
					.col-sm-6.col-lg-4
						+e.item
							+img('img/svg/sPoints-icon-1.svg')
							h6!= title
							p!=text
				+item('Это просто', 'Если Вы&nbsp;умеете пользоваться будильником, у&nbsp;Вас точно получится')
				+item('Это доступно', 'Никакого длительного обучения. Уже на&nbsp;третьем уроке курса&nbsp;Вы получите готовую торговую стратегию и&nbsp;инструкцию к&nbsp;заработку.')
				+item('Это надежно', 'Цикличность&nbsp;&mdash; природа финансовых рынков, циклические торговые стратегии приносят прибыль десятилетиями.')
				+item('Это комфортно', 'Достаточно всего несколько минут в&nbsp;неделю. Не&nbsp;надо ничего караулить у&nbsp;монитора. Вы&nbsp;заранее знаете расписание своих сделок')
				+item('Это увлекательно', 'В&nbsp;циклическом трейдинге можно играючи наращивать прибыль и&nbsp;делать ее&nbsp;стабильнее.')
				+item('Это легально', 'Зарабатывайте на&nbsp;циклах акций и&nbsp;валют через российских брокеров с&nbsp;официальной лицензией.')
			+e.bottom-row.row
				.col-lg-6 
					+e.wrap
						h2 Это действительно бесплатно
						h6 Никаких &laquo;но&raquo;. Уже в&nbsp;третьем уроке Вы&nbsp;получите все необходимое, чтобы начать зарабатывать на&nbsp;реальном рынке
						+img('img/sPoints-img-1.png')
				.col-lg-6
					+e.wrap
						h2 И&nbsp;это действительно практические<br>знания
						h6 основанные на&nbsp;20-летнем<br>опыте автора в&nbsp;трейдинге.
						+img('img/sPoints-img-2.png')
			+e.btn.btn.btn-primary.btn-base(href='#')
				| Жмите здесь и начните зарабатывать прямо сегодня
				span
	// end sPoints