mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			p 
				+img('img/svg/logo.svg')
				| Бесплатно! Пошаговый онлайн-курс: торговая стратегия + инструкция к заработку
	// end topLine