mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		+e.container.container
			img(src="img/sAuthor-img-1.png", alt="").bg
			+e.row.row
				.col-lg-6
					+b.section-title
						+e.headline Автор курса «Быстрый старт в трейдинге циклами»
						h2 Владимир Чамин
					ul
						li Частный трейдер и&nbsp;управляющий, в&nbsp;трейдинге с&nbsp;2003&nbsp;года.
						li В&nbsp;основе успешной торговли&nbsp;&mdash; поиск повторяющихся закономерностей и&nbsp;их&nbsp;автоматический трейдинг с&nbsp;помощью портфеля торговых роботов
						li В&nbsp;кризисном 2014 году установил рекорд доходности в&nbsp;автоматическом трейдинге: +253% прибыли к&nbsp;депозиту
						li Публичный портфель циклов в&nbsp;2023 году показал удвоение депозита за&nbsp;6&nbsp;месяцев
						li 11&nbsp;лет руководил офисом Альпари в&nbsp;Екатеринбурге, знает индустрию трейдинга изнутри
						li Учился у&nbsp;лучших мировых алгоритмических трейдеров: Томас Ниснедал (Чехия), Кевин Дейви (США), Эрнест Чан (США), Андреас Е. Кленоу (Швейцария), Том Бассо<br>(США).
				.col-lg-6
					+e.content
						h6 Главной мечтой Владимира всегда было создание простого и&nbsp;надежного способа заработка, который сможет использовать абсолютно каждый человек&nbsp;&mdash; без длительного обучения и&nbsp;наработки навыков
						p Из&nbsp;20-летнего опыта Владимир Чамин сделал вывод: использование временных циклов для заработка на&nbsp;финансовых рынках&nbsp;&mdash; самый простой и&nbsp;надежный путь к&nbsp;успеху
						p Мечта Владимира осуществилась. А вместе с ней и Ваша собственная
						+e.wrap
							| Теперь, чтобы стать прибыльным трейдером,<br>Вам не&nbsp;нужно становиться профессионалом
							+img('img/svg/sAuthor-icon-1.svg')
			img(src="img/sAuthor-img-2.png", alt="").man
	// end sAuthor