mixin sWhatYouGet(data)
	// start sWhatYouGet
	+b.SECTION.sWhatYouGet.section#sWhatYouGet&attributes(attributes)
		.container
			+b.section-title
				h2 Что Вы получите в уроках курса?
			+e.wrap
				mixin item(badge, title, text, cite)
					+e.item
						.row
							.col-sm-auto
								+e.badge!= badge
							.col-sm
								h5!= title
								p!= text
						+e.cite
							span Ваш результат после урока:
							| 
							!= cite
				+item('Урок 1', 'Циклы – секретный метод заработка в трейдинге.', 'Как работает циклический трейдинг в действии?', '«А что, так просто? И это реально может приносить деньги?»')
				+item('Урок 2', 'Почему циклический трейдинг приносит деньги?', 'Почему вообще это работает?', '«Это не просто работает. Это оказывается еще и надежно.»')
				+item('Урок 3', '3 простых шага к первой прибыли.', 'Простая торговая стратегия. Инструкция к заработку. 3 шага, что конкретно делать, чтобы зарабатывать.', '«Я уже могу начать зарабатывать деньги!»')
				+item('Урок 4', 'Как зарабатывать больше денег?', 'Главное правило циклического трейдинга. Как получать больше денег и как делать прибыль стабильнее?', '«Я знаю, как дальше развивать свой источник дохода.»')
				+item('Урок 5', 'Как находить прибыльные циклы в неограниченном количестве?', 'Как находить циклические закономерности на любых финансовых инструментах?', '«А чё, так можно было, что-ли?! Эти 5 уроков перевернули мое представление о трейдинге…»')
	// end sWhatYouGet